<section id="faq" class="faq">
  <div class="container faq__container">
    <h2 class="title faq__title">Faq</h2>
    <p class="text faq__text">або часті запитання</p>
    <div class="faq__wrapper">
      <details>
        <summary>Summary</summary>
        <ul>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
            placeat sapiente, natus nesciunt officiis accusantium quasi aperiam
            ea rerum saepe?
          </li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
        </ul>
      </details>
      <details>
        <summary>Summary</summary>
        <h1>Test headline</h1>
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
        </ul>
      </details>
      <details>
        <summary>Summary</summary>
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
        </ul>
      </details>
      <details>
        <summary>Summary</summary>
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
        </ul>
      </details>
      <details>
        <summary>Summary</summary>
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
        </ul>
      </details>
    </div>
  </div>
</section>
