<section id="faq" class="faq">
  <div class="container faq__container">
    <h2 class="title faq__title">Faq</h2>
    <p class="text faq__text">або часті запитання</p>
    <ul class="faq__items">
      <li class="faq__item">
        <input type="checkbox" id="faq-1" />
        <h3 class="faq__label"><label for="faq-1">What Is This ?</label></h3>
        <div class="p">
          <p class="faq__sub-title">This a very very simple accordion.</p>
        </div>
      </li>
      <li class="faq__item">
        <input type="checkbox" id="faq-2" />
        <h3 class="faq__label"><label for="faq-2">With Pure Css ?</label></h3>
        <div class="p">
          <p class="faq__sub-title">Yes with pure CSS and HTML.</p>
        </div>
      </li>
      <li class="faq__item">
        <input type="checkbox" id="faq-3" />
        <h3 class="faq__label">
          <label for="faq-3">Where did you get inpiration ?</label>
        </h3>
        <div class="p">
          <p class="faq__sub-title">
            I was inpired by an article on css-tricks.
            <a href="https://css-tricks.com/the-checkbox-hack/"
              >link to article</a
            >
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
