<section id="faq" class="faq">
  <div class="container faq__container">
    <h2 class="title faq__title">Faq</h2>
    <p class="text faq__text">або часті запитання</p>
    <div class="faq__wrapper">
      <details>
        <summary><h3>Что может быть причиной выпадения волос?</h3></summary>
        <ul>
          <li>
            Волосяная луковица находится глубоко под кожей. Она окружена
            множеством нервных окончаний. Поэтому волосяная луковица тесно
            связана с нервной системой и иммунитетом.
          </li>
          <li>
            Есть множество причин выпадения волос. Если вас мучает этот недуг,
            обращайтесь за консультацией к специалисту.
          </li>
        </ul>
      </details>
      <details>
        <summary><h3>Как избавиться от перхоти?</h3></summary>
        <!-- <h1>Test headline</h1> -->
        <ul>
          <li>
            Перхоть обычно усиливается в условиях чрезмерной сухости. В
            частности, холодная, сухая зимняя погода может усугубить проявления
            перхоти.
          </li>
          <li>
            Нарушение обмена веществ нередко приводит к сбою в работе сальных
            желез. Лечение перхоти включает в себя более частое или более
            длительное мытье головы, прекращение использования провоцирующих
            средств укладки (лак и пр.), а также использование специальных
            лечебных шампуней. Подобрать правильный уход против перхоти поможет
            наш специалист.
          </li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
        </ul>
      </details>
      <details>
        <summary>Summary</summary>
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
        </ul>
      </details>
      <details>
        <summary>Summary</summary>
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
        </ul>
      </details>
      <details>
        <summary>Summary</summary>
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
        </ul>
      </details>
    </div>
  </div>
</section>
