<div class="hero">
  <div class="container">
    <div class="header__inner">
      <!-- Header body -->
      <div class="header__body">
        <ul class="header__items">
          <li class="header__item">
            <h1 class="header__title">
              твоє волосся потребує у правильному догляді. <br />
              <span class="header__title--accent"
                >Вони дуже м'які і не викликають болю. Він любить піклуватися
                про свою сім'ю.</span
              >
            </h1>
            <a
              href="#products"
              class="button button--accent"
              aria-label="Products"
              >Прайс</a
            >
            <a href="#about" class="button" aria-label="How it’s made?"
              >Дивитись послуги</a
            >
          </li>
        </ul>
        <div class="header__product product">
          <div class="product__body">
            <p class="product__text">
              Тут знають про догляд та нарощування все, працюють тільки на
              преміальних матеріалах та роблять гарними багато жінок щодня!
            </p>
            <a href="#" class="button button--round" aria-label="button">
              <svg class="product__icon">
                <use
                  href="./images/icons.svg#icon-arrow-right-thick"
                ></use></svg
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
