<section class="price js-hidden" id="price">
  <div class="container">
    <h2 class="title price__text-style price-card__title">Прайс</h2>
    <ul  class="price__group">
      <li class="price-card">
        <p class="price__text-style price-card__class">Ботокс</p>
        <p class="price__text-style price-card__city">Майстер</p>
        <div class="price__data-container">
          <div class="price__data-wrapper">
            <p class="price__text-style price-card__description">
              <strong>см</strong>
            </p>
            <p class="price__text-style price-card__description">30</p>
            <p class="price__text-style price-card__description">40</p>
            <p class="price__text-style price-card__description">50</p>
            <p class="price__text-style price-card__description">60</p>
            <p class="price__text-style price-card__description">70</p>
            <p class="price__text-style price-card__description">80</p>
          </div>
          <div class="price__data-wrapper">
            <p class="price__text-style price-card__description">
              <strong>Майстер</strong>
            </p>
            <p class="price__text-style price-card__description">1800</p>
            <p class="price__text-style price-card__description">2100</p>
            <p class="price__text-style price-card__description">2400</p>
            <p class="price__text-style price-card__description">2700</p>
            <p class="price__text-style price-card__description">3000</p>
            <p class="price__text-style price-card__description">3300</p>
          </div>
          <div class="price__data-wrapper">
            <p class="price__text-style price-card__description">
              <strong>Топ - Майстер</strong>
            </p>
            <p class="price__text-style price-card__description">1800</p>
            <p class="price__text-style price-card__description">2100</p>
            <p class="price__text-style price-card__description">2400</p>
            <p class="price__text-style price-card__description">2700</p>
            <p class="price__text-style price-card__description">3000</p>
            <p class="price__text-style price-card__description">3300</p>
          </div>
        </div>
        <ul class="shedule">
          <li class="shedule__parts">
            <p
              class="price__text-style shedule__time"
            >
            ПОРИСТОСТЬ ВОЛОС + 400 грн<br>
            ГУСТОТА ВОЛОС + 600 грн<br>
            НАРОЩЕННЫЕ ВОЛОСЫ † 1000 грн<br>
            </p>
            <p>Стрижка кончиков В ПОДАРОК!</p>
            <p>ЭФФЕКТ ОТ З ДО 5 МЕСЯЦЕВ</p>
          </li>
        </ul>
        <ul class="adress">
          <li class="adress__link">
            <a
              class="price__text-style adress__number"
              href="tel:+610383766284"
              target="_blank"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="adress__link">
            <a
              class="price__text-style adress__mail"
              href="mailto:noreply@envato.com"
              target="_blank"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="price-card">
        <h3 class="price__text-style price-card__class">Амінокислотне
          Відновлення</h3>
        <p class="price__text-style price-card__city">Los Angeles</p>
        <p class="price__text-style price-card__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="shedule">
          <li class="shedule__parts">
            <p class="price__text-style shedule__days">Monday - Friday</p>
            <p
              class="price__text-style shedule__time"
              property="schema:openingHoursSpecification"
              typeof="schema:OpeningHoursSpecification"
            >
              <time datetime="06:00" property="schema:opens">06:00 AM</time> -
              <time datetime="22:00" property="schema:closes">10:00 PM</time>
            </p>
          </li>
          <li class="shedule__parts">
            <p class="price__text-style shedule__days">Saturday - Sunday</p>
            <p
              class="price__text-style shedule__time"
              property="schema:openingHoursSpecification"
              typeof="schema:OpeningHoursSpecification"
            >
              <time datetime="08:00" property="schema:opens">08:00 AM</time> -
              <time datetime="16:00" property="schema:closes">16:00 PM</time>
            </p>
          </li>
        </ul>
        <ul class="adress">
          <li class="adress__link">
            <a
              class="price__text-style adress__number"
              href="tel:+610383766284"
              target="_blank"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="adress__link">
            <a
              class="price__text-style adress__mail"
              href="mailto:noreply@envato.com"
              target="_blank"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="price-card">
        <h2 class="price__text-style price-card__class">CAFE</h2>
        <p class="price__text-style price-card__city">New York</p>
        <p class="price__text-style price-card__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="shedule">
          <li class="shedule__parts">
            <p class="price__text-style shedule__days">Monday - Friday</p>
            <p
              class="price__text-style shedule__time"
              property="schema:openingHoursSpecification"
              typeof="schema:OpeningHoursSpecification"
            >
              <time datetime="06:00" property="schema:opens">06:00 AM</time> -
              <time datetime="22:00" property="schema:closes">10:00 PM</time>
            </p>
          </li>
          <li class="shedule__parts">
            <p class="price__text-style shedule__days">Saturday - Sunday</p>
            <p
              class="price__text-style shedule__time"
              property="schema:openingHoursSpecification"
              typeof="schema:OpeningHoursSpecification"
            >
              <time datetime="08:00" property="schema:opens">08:00 AM</time> -
              <time datetime="16:00" property="schema:closes">16:00 PM</time>
            </p>
          </li>
        </ul>
        <ul class="adress">
          <li class="adress__link">
            <a
              class="price__text-style adress__number"
              href="tel:+610383766284"
              target="_blank"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="adress__link">
            <a
              class="price__text-style adress__mail"
              href="mailto:noreply@envato.com"
              target="_blank"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    </div>
  </div>
</section>
