<section class="products" id="products">
  <div class="container">
    <h2 class="products__title">Послуги</h2>
    <p class="products__label">все тілки для вас</p>
    <ul class="products__list">
      <li class="products-item">
        <h3 class="products-item__title products-item__title--ice">
          <strong>Ботокс</strong>
        </h3>
        <p class="products-item__text">
          Ботокс для волосся – порівняно нова та дуже популярна процедура для
          волосся.
        </p>
        <p class="products-item__text">
          Ботокс для волосся – процедура, яка перетворить тьмяні, сухі,
          пошкоджені пасма.
        </p>
        <button
          type="button"
          class="button button__products"
          data-btn-open="icecream"
          aria-label="icecream"
        >
          Детальніше
          <svg class="products__icon">
            <use href="./images/icons.svg#icon-arrow-right-thick"></use>
          </svg>
        </button>
      </li>

      <li class="products-item products-item--bg-coffee">
        <h3 class="products-item__title products-item__title--coffee">
          <strong>амінокислотне випрямлення</strong>
        </h3>
        <p class="products-item__text">
          Однією з унікальних розробок, що дає можливість випрямити та
          оздоровити пасма, є амінокислотне випрямлення волосся.
        </p>
        <button
          type="button"
          class="button button__products"
          data-btn-open="icecoffee"
          aria-label="icecoffee"
        >
          Детальніше
          <svg class="products__icon">
            <use href="./images/icons.svg#icon-arrow-right-thick"></use>
          </svg>
        </button>
      </li>
      <li class="products-item products-item--bg-milk">
        <h3 class="products-item__title products-item__title--milk">
          <strong>Нарощування волосся</strong>
        </h3>
        <p class="products-item__text">
          Нарощування волосся — перукарська процедура додавання до природного
          волосся людини додаткових пасмів для надання довжини та об'єму.
        </p>
        <button
          type="button"
          class="button button__products"
          data-btn-open="milkshakes"
          aria-label="milkshakes"
        >
          Детальніше
          <svg class="products__icon">
            <use href="./images/icons.svg#icon-arrow-right-thick"></use>
          </svg>
        </button>
      </li>
      <li class="products-item products-item--bg-milk">
        <h3 class="products-item__title products-item__title--milk">
          Кератинове випрямлення
        </h3>
        <p class="products-item__text">
          Кератинове випрямлення волосся — однозначно, одна з найпопулярніших
          процедур для волосся.
        </p>
        <button
          type="button"
          class="button button__products"
          data-btn-open="milkshakes"
          aria-label="milkshakes"
        >
          Детальніше
          <svg class="products__icon">
            <use href="./images/icons.svg#icon-arrow-right-thick"></use>
          </svg>
        </button>
      </li>
      <li class="products-item">
        <h3 class="products-item__title products-item__title--ice">
          <strong>Ботокс</strong>
        </h3>
        <p class="products-item__text">
          Ботокс для волосся – порівняно нова та дуже популярна процедура для
          волосся.
        </p>
        <p class="products-item__text">
          Ботокс для волосся – процедура, яка перетворить тьмяні, сухі,
          пошкоджені пасма.
        </p>
        <button
          type="button"
          class="button button__products"
          data-btn-open="icecream"
          aria-label="icecream"
        >
          Детальніше
          <svg class="products__icon">
            <use href="./images/icons.svg#icon-arrow-right-thick"></use>
          </svg>
        </button>
      </li>

      <li class="products-item products-item--bg-coffee">
        <h3 class="products-item__title products-item__title--coffee">
          <strong>амінокислотне випрямлення</strong>
        </h3>
        <p class="products-item__text">
          Однією з унікальних розробок, що дає можливість випрямити та
          оздоровити пасма, є амінокислотне випрямлення волосся.
        </p>
        <button
          type="button"
          class="button button__products"
          data-btn-open="icecoffee"
          aria-label="icecoffee"
        >
          Детальніше
          <svg class="products__icon">
            <use href="./images/icons.svg#icon-arrow-right-thick"></use>
          </svg>
        </button>
      </li>
      <li class="products-item products-item--bg-milk">
        <h3 class="products-item__title products-item__title--milk">
          <strong>Нарощування волосся</strong>
        </h3>
        <p class="products-item__text">
          Нарощування волосся — перукарська процедура додавання до природного
          волосся людини додаткових пасмів для надання довжини та об'єму.
        </p>
        <button
          type="button"
          class="button button__products"
          data-btn-open="milkshakes"
          aria-label="milkshakes"
        >
          Детальніше
          <svg class="products__icon">
            <use href="./images/icons.svg#icon-arrow-right-thick"></use>
          </svg>
        </button>
      </li>
      <li class="products-item products-item--bg-milk">
        <h3 class="products-item__title products-item__title--milk">
          Кератинове випрямлення
        </h3>
        <p class="products-item__text">
          Кератинове випрямлення волосся — однозначно, одна з найпопулярніших
          процедур для волосся.
        </p>
        <button
          type="button"
          class="button button__products"
          data-btn-open="milkshakes"
          aria-label="milkshakes"
        >
          Детальніше
          <svg class="products__icon">
            <use href="./images/icons.svg#icon-arrow-right-thick"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
